[user]
name = Daniel Bauke
email = {{ .email | quote }}
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOHVbldBG6YD5sO9ukNttd7xi+jCYqeWJpqr1eVWh9xI

[core]
excludesfile = ~/.gitignore_global
ignorecase = false
quotepath = false
pager = delta

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
grep = auto
decorate = auto
showbranch = auto

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[color "diff"]
meta = 11
frag = magenta bold
func = 146 bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse

[alias]
c = commit -am
a = add
co = checkout
wc = whatchanged -p --abbrev-commit --pretty=medium
amend = commit -a --amend
out = log origin..HEAD
lo = log --oneline --graph
l1 = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lg = l1 --graph
dcn = diff --name-only --diff-filter=AM
dcnm = dcn main
fg = forgit

[mergetool]
prompt = false

[merge]
tool = Kaleidoscope
conflictstyle = diff3
autoStash = true

[rebase]
autoStash = true

[difftool]
prompt = false

[init]
defaultBranch = main

[diff]
tool = Kaleidoscope
colormoved = default
colormovedws = "allow-indentation-change"

[push]
default = upstream

[tag]
forceSignAnnotated = false

[branch]
sort = -committerdate

[pull]
rebase = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[interactive]
diffFilter = delta --color-only --diff-so-fancy

[delta]
true-color = always
navigate = true # use n and N to move between diff sections
line-numbers = true
hyperlinks = true
# hyperlinks-file-link-format = "vscode://file/{path}:{line}"

#[url "git@github.com:"]
#    insteadOf = https://github.com/
#[url "git@github.com:"]
#    pushInsteadOf = "git://github.com/"
#[url "git@github.com:"]
#    pushInsteadOf = "https://github.com/"

[mergetool "Kaleidoscope"]
cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
trustexitcode = true

[difftool "Kaleidoscope"]
cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "juxta"]
	cmd = juxta _mergetool --base \"${BASE:-/dev/null}\" --local \"$LOCAL\" --remote \"$REMOTE\" --merged \"${MERGED:-/dev/null}\"
	trustExitCode = true
[difftool "juxta"]
	cmd = juxta _difftool --local \"$LOCAL\" --remote \"$REMOTE\" --merged \"$MERGED\"
	trustExitCode = true

[gpg]
format = ssh

[commit]
gpgsign = true

[gpg "ssh"]
program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[diff "dyff"]
command = "dyff_between() { dyff --color on between --omit-header \"$2\" \"$5\"; }; dyff_between"
