[user]
name = Daniel Bauke
email = {{ .email | quote }}
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOHVbldBG6YD5sO9ukNttd7xi+jCYqeWJpqr1eVWh9xI

[core]
excludesfile = ~/.gitignore_global
ignorecase = true
quotepath = false
fsmonitor = true
untrackedcache = true
pager = delta

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[init]
defaultBranch = main

[tag]
forceSignAnnotated = false
sort = version:refname

[column]
ui = auto

[rerere]
enabled = true
autoupdate = true

[gpg]
format = ssh

[gpg "ssh"]
program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[url "git@github.com:"]
insteadOf = https://github.com/

[branch]
sort = -committerdate

[alias]
c = commit -am
a = add
co = checkout
wc = whatchanged -p --abbrev-commit --pretty=medium
amend = commit -a --amend
out = log origin..HEAD
lo = log --oneline --graph
l1 = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
lg = l1 --graph
dcn = diff --name-only --diff-filter=AMCR
dcnm = dcn main
fg = forgit
ru = remote get-url
ruo = ru origin

append = town append
compress = town compress
contribute = town contribute
diff-parent = town diff-parent
hack = town hack
delete = town delete
observe = town observe
park = town park
prepend = town prepend
propose = town propose
rename = town rename
repo = town repo
set-parent = town set-parent
ship = town ship
sync = town sync

[mergetool]
prompt = false

[merge]
tool = Kaleidoscope
conflictstyle = zdiff3
autoStash = true

[rebase]
autoStash = true
updateRefs = true

[push]
default = simple
autoSetupRemote = true
followTags = true

[pull]
rebase = true

[fetch]
prune = true
pruneTags = true
all = true

[commit]
gpgsign = true
verbose = true

[diff]
algorithm = histogram
colorMoved = default
mnemonicPrefix = true
renames = true

[difftool]
prompt = false
algorithm = histogram
mnemonicPrefix = true
renames = true
tool = Kaleidoscope
colormoved = default
colormovedws = "allow-indentation-change"

[interactive]
diffFilter = delta --color-only --diff-so-fancy

[git-town]
sync-feature-strategy = rebase

[delta]
true-color = always
navigate = true # use n and N to move between diff sections
line-numbers = true
hyperlinks = true
side-by-side = true

[gitbutler]
aiOpenAIKeyOption = bringYourOwn
aiOpenAIModelName = gpt-4o-mini
aiModelProvider = ollama
aiOllamaModelName = llama3.2

[mergetool "Kaleidoscope"]
cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
trustexitcode = true

[difftool "Kaleidoscope"]
cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "juxta"]
cmd = juxta _mergetool --base \"${BASE:-/dev/null}\" --local \"$LOCAL\" --remote \"$REMOTE\" --merged \"${MERGED:-/dev/null}\"
trustExitCode = true
