source ${HOME}/bin/_common.zsh

{{- if eq .chezmoi.hostname "dbauke-mac" }}

export GITHUB_ACCESS_TOKEN="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").GH_TOKEN.value -}}"

export CIRCLECI_TOKEN="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").CIRCLECI_TOKEN.value -}}"
export CIRCLECI_CLI_TOKEN=$CIRCLECI_TOKEN

export JIRA_API_TOKEN="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").JIRA_API_TOKEN.value -}}"
export JIRA_SERVER="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").JIRA_SERVER.value -}}"
export JIRA_USER="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").JIRA_USER.value -}}"

export FIGMA_API_KEY="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").FIGMA_API_KEY.value -}}"

export SENTRY_API_KEY="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").SENTRY_API_KEY.value -}}"

export GEMINI_API_KEY="{{- (onepasswordItemFields "c5abdfjbih6jhqripu6yfudc4a" "xorpczupr2kurbbiwa7ifs5t44" "everlong.1password.com").GEMINI_API_KEY.value -}}"

# export SSL_CERT_FILE='/Library/Application Support/Netskope/STAgent/data/nscacert.pem'
# export NODE_EXTRA_CA_CERTS=$SSL_CERT_FILE

{{- end }}

{{- if eq .chezmoi.hostname "danbau-personal" }}

export GITHUB_ACCESS_TOKEN="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").GITHUB_TOKEN.value -}}"
export OPENAI_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").OPENAI_API_KEY.value -}}"
export GEMINI_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").GEMINI_API_KEY.value -}}"
export REPLICATE_API_TOKEN="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").REPLICATE_API_TOKEN.value -}}"
export ANTHROPIC_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").ANTHROPIC_API_KEY.value -}}"
export DEEPSEEK_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").DEEPSEEK_API_KEY.value -}}"
export PERPLEXITY_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").PERPLEXITY_API_KEY.value -}}"
export OPENROUTER_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").OPENROUTER_API_KEY.value -}}"

{{- end }}

export KAGI_API_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").KAGI_API_KEY.value -}}"
export SUPERMEMORY_MCP_URL="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").SUPERMEMORY_MCP_URL.value -}}"

export EDITOR="zed -w"
export CLICOLOR=1
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export BAT_THEME="gruvbox-dark"
export BAT_STYLE="grid,header,snip"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

export TLDR_AUTO_UPDATE_DISABLED=true

# Preview file content using bat (https://github.com/sharkdp/bat)
export FZF_CTRL_T_OPTS="
  --walker-skip .git,node_modules,target
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"
# CTRL-/ to toggle small preview window to see the full command
# CTRL-Y to copy the command into clipboard using pbcopy
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'
  --color header:italic
  --header 'Press CTRL-Y to copy command into clipboard'"

export PALM_KEY="{{- (onepasswordItemFields "lk3cxlvcjdbti27r7ivrcj646y" "nt6ulfcinsq7lcobqjhb2cdx5i" "bonkey.1password.com").PALM_KEY.value -}}"

export GITHUB_TOKEN=$GITHUB_ACCESS_TOKEN
export GH_TOKEN=$GITHUB_ACCESS_TOKEN

export HOMEBREW_AUTOREMOVE=true
export HOMEBREW_BAT=true
export HOMEBREW_CASK_OPTS="--no-quarantine"
export HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS=5
export HOMEBREW_NO_ENV_HINTS=true
export HOMEBREW_GITHUB_API_TOKEN=$GITHUB_ACCESS_TOKEN

export ANDROID_SDK_ROOT="${HOME}/Library/Android/sdk"
export ANDROID_HOME=$ANDROID_SDK_ROOT
export JAVA_HOME=$(/usr/libexec/java_home)

export FASTLANE_HIDE_CHANGELOG=true

export GOPATH=${HOME}/.go

export BUN_INSTALL="$HOME/.bun"

export ITERM2_SQUELCH_MARK=1

export ATUIN_NOBIND="true"

export ZIM_HOME="$HOME/.zim"

export PATH="$HOME/.mint/bin:$HOME/bin/jetbrains:$ANDROID_HOME/platform-tools:$ANDROID_HOME/cmdline-tools/latest/bin:$HOME/bin:$HOME/.local/bin:$HOME/bin/raycast:$GOPATH/bin:$BUN_INSTALL/bin:$HOMEBREW_PREFIX/opt/llvm/bin:$HOME/.cache/lm-studio/bin:$PATH"

eval_managers

# vim:set ft=zsh:
