#!/usr/bin/env zsh

source "{{- .chezmoi.sourceDir}}/exact_bin/_common.zsh"

set +o pipefail

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"


if unless_recently_modified $file ; then
    claude update

    marketplaces=(
        edwardsanchez/MotionEyes
        Iron-Ham/XcodePreviews
        CharlesWiltgen/Axiom
        max-sixty/worktrunk
    )

    plugins=(
        motioneyes@motioneyes
        preview-build@preview-build
        axiom@axiom-marketplace
        worktrunk@worktrunk
    )

    for marketplace in "${marketplaces[@]}"; do
        claude plugin marketplace add "$marketplace"
    done

    for plugin in "${plugins[@]}"; do
        claude plugin install "$plugin"
    done
fi
