#!/usr/bin/env zsh

PYTHON_VERSION=3.12.1

source "$(chezmoi source-path)/exact_bin/_common.zsh"

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"
requirements="{{- .chezmoi.sourceDir}}/dot_config/requirements.txt"

if ! pyenv versions --bare | grep -q "^${PYTHON_VERSION}$"; then
    _exec "pyenv install -s $PYTHON_VERSION"
    _exec "pyenv global $PYTHON_VERSION"
fi

exec_unless_recently_modified $requirements "pip install -r $requirements"

exec_unless_recently_modified $file "pip install --upgrade pip"

exec_unless_recently_modified $file "pipupgrade --self"

exec_unless_recently_modified $file "pipupgrade --latest -y"
