#!/usr/bin/env zsh

{{- $mise_dir:= joinPath .chezmoi.sourceDir "/dot_config/mise" -}}

# source "$(chezmoi source-path)/exact_bin/_common.zsh"

# file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

# exec_unless_recently_modified $file "mise -C '$mise_dir' --yes upgrade"
