#!/usr/bin/env zsh

source "$(chezmoi source-path)/exact_bin/_common.zsh"

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

exec_unless_recently_modified $file "source ${HOME}/.zim/zimfw.zsh upgrade"
