#!/usr/bin/env zsh

set +o pipefail

source "{{- .chezmoi.sourceDir}}/exact_bin/_common.zsh"

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

exec_unless_recently_modified $file "npx -y skills add bonkey/skills --global --yes"

exec_unless_recently_modified $file "npx -y skills update --global"
