#!/usr/bin/env zsh

source "{{- .chezmoi.sourceDir}}/exact_bin/_common.zsh"

local apps app

apps=(
    'Keyboard Maestro Engine'
    'iTerm'
)

for app in $apps; do
    _exec "open -a '${app}'"
done
