#!/usr/bin/env zsh

# hour: {{ now.Format "2006-01-02T15" }} - changes hourly, so this runs hourly as well as on every edit
source "{{- .chezmoi.sourceDir}}/exact_private_bin/_common.zsh"

set +o pipefail

eval "$(mise hook-env)"

_exec "gem update --system; yes | gem update -f ; yes | gem cleanup"
