#!/usr/bin/env zsh

# date: {{ now.Format "2006-01-02" }} - changes daily, so this runs daily as well as on every edit
source "{{- .chezmoi.sourceDir}}/exact_private_bin/_common.zsh"

_exec "mise upgrade --bump --yes ; mise prune --yes"
