#!/usr/bin/env zsh

PYTHON_VERSION=3.12.1

source "$(chezmoi source-path)/exact_bin/_common.zsh"

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

if ! pyenv versions --bare | grep -q "^${PYTHON_VERSION}$"; then
    _exec "pyenv install -s $PYTHON_VERSION"
    _exec "pyenv global $PYTHON_VERSION"
fi

_exec "pip install -r '$(chezmoi source-path)/dot_config/requirements.txt' | grep -v 'Requirement already satisfied' || true"

_exec "pip install --upgrade pip"

_exec "pipupgrade --self"

exec_unless_recently_modified $file "pipupgrade --latest -y"
