#!/usr/bin/env zsh

set +o pipefail

source "{{- .chezmoi.sourceDir}}/exact_bin/_common.zsh"

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

skills=(
    superwall/skills@wwdc
    wisdom-in-a-nutshell/agents

    bonkey/skills
    bonkey/skills-private

    mattpocock/skills@grill-me
    mattpocock/skills@wayfinder

	ayghri/i-have-adhd
    dietrichgebert/ponytail
    dicklesworthstone/agent_flywheel_clawdbot_skills_and_integrations@cass
)

for skill in "${skills[@]}"; do
    if [[ "$skill" == *@* ]]; then
        package="${skill%@*}"
        skill_name="${skill##*@}"
        exec_unless_recently_modified $file "npx -y skills add $package --skill $skill_name --global --yes"
    else
        exec_unless_recently_modified $file "npx -y skills add $skill --global --yes"
    fi
done

exec_unless_recently_modified $file "npx -y skills update --global"
