#!/usr/bin/env zsh

PYTHON_VERSION=3.12.1

source "$(chezmoi source-path)/exact_bin/_common.zsh"

this_file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"
requirements_file="{{- .chezmoi.sourceDir}}/dot_config/requirements.txt"

if ! pyenv versions --bare | grep -q "^${PYTHON_VERSION}$"; then
    _exec "pyenv install -s $PYTHON_VERSION"
    _exec "pyenv global $PYTHON_VERSION"
fi

if is_outdated $this_file; then
    pip install --upgrade --quiet pip
    pip install --upgrade --quiet pipx

    for req in $(cat $requirements_file); do
        _exec "pipx upgrade $req || pipx install -q $req"
    done
fi
