#!/usr/bin/env zsh

source "{{- .chezmoi.sourceDir}}/exact_bin/_common.zsh"

set +o pipefail

file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

eval "$(mise hook-env)"

exec_unless_recently_modified $file "gem update --system; yes | gem update -f ; yes | gem cleanup"
