#!/bin/zsh

{{- $misedir:= joinPath .chezmoi.sourceDir "/dot_config/mise" -}}

echo "### {{- $misedir }}"

exit 2

# source "$(chezmoi source-path)/exact_bin/_common.zsh"

# file="{{- .chezmoi.sourceDir}}/{{- .chezmoi.sourceFile}}"

# echo $file

# exit 2

# # exec_unless_recently_modified $file "mise -C '{{- $misedir -}}' --yes upgrade"
