<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>github.com/urfave/cli/v3</key>
			<dict>
				<key>date</key>
				<date>2025-04-21T10:26:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/urfave/cli/v3</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/urfave/cli/v3</string>
				</dict>
			</dict>
			<key>google.golang.org/genai</key>
			<dict>
				<key>date</key>
				<date>2025-04-21T10:26:45Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>google.golang.org/genai</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>google.golang.org/genai</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>fastlane-plugin-appicon</key>
			<dict>
				<key>date</key>
				<date>2024-05-15T17:24:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastlane-plugin-appicon</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>fastlane-plugin-appicon</string>
				</dict>
			</dict>
			<key>fastlane-plugin-aws_s3</key>
			<dict>
				<key>date</key>
				<date>2024-05-15T17:32:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastlane-plugin-aws_s3</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>fastlane-plugin-aws_s3</string>
				</dict>
			</dict>
			<key>fastlane-plugin-bugsnag</key>
			<dict>
				<key>date</key>
				<date>2024-05-15T17:24:18Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastlane-plugin-bugsnag</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>fastlane-plugin-bugsnag</string>
				</dict>
			</dict>
			<key>fastlane-plugin-bundletool</key>
			<dict>
				<key>date</key>
				<date>2025-02-01T21:05:36Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastlane-plugin-bundletool</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>fastlane-plugin-bundletool</string>
				</dict>
			</dict>
			<key>fastlane-plugin-emerge</key>
			<dict>
				<key>date</key>
				<date>2024-10-18T14:27:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastlane-plugin-emerge</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>fastlane-plugin-emerge</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Swift_Online</key>
			<dict>
				<key>date</key>
				<date>2025-04-15T19:59:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>iphone</string>
						<string>ipad</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>leopard</string>
						<string>snow leopard</string>
						<string>lion</string>
						<string>mountain lion</string>
						<string>mavericks</string>
						<string>10.8</string>
						<string>10.6</string>
						<string>10.7</string>
						<string>10.9</string>
						<string>10.5</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa</string>
						<string>macosx</string>
						<string>mac osx</string>
						<string>mac os x</string>
					</array>
					<key>name</key>
					<string>Swift (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Swift_Online</string>
				</dict>
			</dict>
			<key>iOS_Online</key>
			<dict>
				<key>date</key>
				<date>2025-04-15T19:59:36Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>iphone</string>
						<string>ipad</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>objective-c</string>
						<string>objc</string>
					</array>
					<key>name</key>
					<string>iOS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Online</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>https://github.com/fastlane/fastlane</key>
			<dict>
				<key>date</key>
				<date>2025-04-25T20:28:05Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fastlane/fastlane</string>
					<key>platform</key>
					<string>docc</string>
					<key>uniqueIdentifier</key>
					<string>https://github.com/fastlane/fastlane</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>manpages:</string>
			<key>~/Library/Application Support/Dash/DocSets/Markdown/Markdown.docset</key>
			<string>md:</string>
			<key>~/Library/Application Support/Dash/Stack Overflow/Swift Online/Swift_Online.docset</key>
			<string>sos:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-03T09:28:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2025-04-21T10:24:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-14T00:20:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-14T00:20:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_3.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-14T00:20:54Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>6912</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
